* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

#line {
    position: absolute;
    inset: 50% 50% auto auto;
    translate: 50% 50%;
    rotate: 0%;
    background-color: black;
    width: 200px;
    height: 2px;
    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    to {
        rotate: 180deg;
    }

    from {
        rotate: 0deg;
    }
}